html,
body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{

}

main{
    min-height: 100%;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Body */

